<div class="row">
    <div class="col-2">
        <div class="nav flex-column" role="tablist" aria-orientation="vertical">
            <ul class="list-unstyled">
                <li *ngFor="let menu of menus">
                    <a class="nav-link ml-4 my-0" [routerLink]="menu.route" data-toggle="pill">
                        <i class="menu.iconName"></i>
                        <h4>{{ menu.titre }}</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>