<div class="row">
    <div class="col-2">
        <div class="nav flex-column" role="tablist" aria-orientation="vertical">
            <ul class="list-unstyled">
                <li>
                    <a class="nav-link ml-4 my-0" [routerLink]="['/accueil']" data-toggle="pill">
                        <i class="fa fa-home"></i>
                        <h4>Accueil</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link ml-4 my-0" [routerLink]="['/favoris']" data-toggle="pill">
                        <i class="fa fa-star"></i>
                        <h4>Favoris</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link ml-4 my-0" [routerLink]="['/extractionData']" data-toggle="pill">
                        <i class="fa fa-sign-out"></i>
                        <h4>Extraire les données</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link ml-4 my-0" [routerLink]="['/forum/listeRubrique']" data-toggle="pill">
                        <i class="fa fa-comments"></i>
                        <h4>Forum</h4>
                    </a>
                </li>
                <li>
                    <a class="nav-link ml-4 my-0" [routerLink]="['/utilisateurs/listeUtilisateur']" data-toggle="pill">
                        <i class="fa fa-users"></i>
                        <h4>Gestion utilisateurs</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>