

    <div *ngIf="!loadingCommune" class="row">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="input-group mb-3">
                <input #input type="text" class="form-control" placeholder="Nom d'une commune, Ex. Montpellier"
                    list="nomCommunes" (keyup.enter)="onEnter(input.value)" (keyup)="applyFilter($event)">
                <datalist id="nomCommunes">
                    <option *ngFor="let nomCommune of nomCommunes" [value]="nomCommune"></option>
                </datalist>
                <div class="input-group-append">
                    <button class="btn btn-dark" type="button" id="button-addon2"
                        (click)="search()">Recherche</button>
                </div>
            </div>


        </div>
        <div class="col-1"></div>
    </div>

        <div *ngIf="loadingCommune" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
