<h1 class="d-flex justify-content-center">INSCRIPTION</h1>
<div *ngIf="!loading" class="container d-flex justify-content-center">
  <form class="col-md-12" (ngSubmit)='saveUser(form)' #form=ngForm>
    <fieldset>
      <legend class="d-flex justify-content-center">Saisir vos informations utilisateur</legend>

      <div class="form-group">
        <label for="nom"><i class="fa fa-user"></i> Entrez votre nom</label>
        <input name="nom" ngModel #nom='ngModel' required  type="text" class="form-control" placeholder="Nom"
        [ngClass]="{'is-invalid': form.submitted && nom.errors?.required}">
        <small *ngIf="form.submitted && nom.errors?.required" class="text-danger">
          Votre nom doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="nom"><i class="fa fa-user"></i> Entrez votre prénom</label>
        <input name="prenom" ngModel #prenom='ngModel' required  type="text" class="form-control" placeholder="Prénom">
        <small *ngIf="form.submitted && prenom.errors?.required" class="text-danger">
          Votre prénom doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="nom"><i class="fa fa-user"></i> Entrez votre nom d'utilisateur</label>
        <input name="nomUtilisateur" ngModel #nomUtilisateur='ngModel' required  type="text" class="form-control" placeholder="Nom d'utilisateur (pseudonyme)">
        <small *ngIf="form.submitted && nomUtilisateur.errors?.required" class="text-danger">
          Votre nom d'utilisateur doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="email"><i class="fa fa-envelope"></i> Entrez votre email</label>
        <input name="email" ngModel #email='ngModel' required  type="email" class="form-control"  placeholder="Email">
        <small *ngIf="form.submitted && email.errors?.required" class="text-danger">
          Votre e-mail doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="password"><i class="fa fa-lock"></i> Saisissez votre mot de passe</label>
        <input name="motDePasse" ngModel #motDePasse='ngModel' required type="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Mot de passe">
        <small *ngIf="form.submitted && motDePasse.errors?.required" class="text-danger">
          Votre mot de passe doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="password"><i class="fa fa-lock"></i> Confirmez votre mot de passe</label>
        <input name="confirmationMdp" ngModel #confirmationMdp='ngModel' required  type="password" class="form-control"
          aria-describedby="passwordHelpBlock" placeholder="Mot de passe">
          <small *ngIf="form.submitted && confirmationMdp.errors?.required" class="text-danger">
            La confirmation de votre mot de passe est nécessaire.
          </small>
          <small *ngIf="form.submitted && !validPassword" class="text-danger">
            Le mot de passe de confirmation ne coïncide pas avec le premier saisi !
          </small>
      </div>

      <div class="form-group">
        <label for="region">Choisir une région :</label>
        <select id="region" class="form-control" #region [(ngModel)]="nomRegions[0]" name="region" (change)="keyupRegion(region.value)">
          <option *ngFor="let nomRegion of nomRegions" [value]="nomRegion">{{nomRegion}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="departement">Choisir un code postale :</label>
        <select id="departement" class="form-control" #codePostal ngModel name="codePostal" (change)="keyupDepartement(codePostal.value)">
          <option *ngFor="let nomDepartement of nomDepartements" [value]="nomDepartement">{{nomDepartement}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="commune">Choisir une commune :</label>
        <select id="commune" class="form-control" #commune='ngModel' ngModel name="commune" required>
          <option *ngFor="let nomCommune of nomCommunes" [value]="nomCommune">{{nomCommune}}</option>
        </select>
        <small *ngIf="form.submitted && commune.errors?.required" class="text-danger">
          Le choix d'une commune est nécessaire (la sélection est disponible si région puis département sont renseignés).
        </small>
      </div>

    </fieldset>

    <button type="submit" class="btn btn-success d-flex col-md-12 mb-1 justify-content-center">Créer mon compte</button>
    <div class="text-center mb-5">
      <button type="button"  routerLink="/utilisateurs/authentification" class="btn btn-success col-md-6 justify-content-center align-item">Se connecter</button>
    </div>

  </form>
</div>

<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>