<h1 class="d-flex justify-content-center">INSCRIPTION</h1>
<div *ngIf="!loading" class="container d-flex justify-content-center">
  <form class="col-md-12" (ngSubmit)='saveUser(form)' #form=ngForm>
    <fieldset>
      <legend class="d-flex justify-content-center">Saisir vos informations utilisateur</legend>

      <div class="form-group">
        <label for="nom"><i class="fa fa-user"></i> Entrez votre nom</label>
        <input name="nom" ngModel #nom='ngModel' required  type="text" class="form-control" placeholder="Nom"
        [ngClass]="{'is-invalid': form.submitted && nom.errors?.required}">
        <small *ngIf="form.submitted && nom.errors?.required" class="text-danger">
          Votre nom doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="nom"><i class="fa fa-user"></i> Entrez votre prénom</label>
        <input name="prenom" ngModel #prenom='ngModel' required  type="text" class="form-control" placeholder="Prénom">
        <small *ngIf="form.submitted && prenom.errors?.required" class="text-danger">
          Votre prénom doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="nom"><i class="fa fa-user"></i> Entrez votre nom d'utilisateur</label>
        <input name="nomUtilisateur" ngModel #nomUtilisateur='ngModel' required  type="text" class="form-control" placeholder="Nom d'utilisateur (pseudonyme)">
        <small *ngIf="form.submitted && nomUtilisateur.errors?.required" class="text-danger">
          Votre nom d'utilisateur doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="email"><i class="fa fa-envelope"></i> Entrez votre email</label>
        <input name="email" ngModel #email='ngModel' required  type="email" class="form-control"  placeholder="Email">
        <small *ngIf="form.submitted && email.errors?.required" class="text-danger">
          Votre e-mail doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="password"><i class="fa fa-lock"></i> Saisissez votre mot de passe</label>
        <input name="motDePasse" ngModel #motDePasse='ngModel' required type="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Mot de passe">
        <small *ngIf="form.submitted && motDePasse.errors?.required" class="text-danger">
          Votre mot de passe doit être renseigné
        </small>
      </div>

      <div class="form-group">
        <label for="password"><i class="fa fa-lock"></i> Confirmez votre mot de passe</label>
        <input name="confirmationMdp" ngModel #confirmationMdp='ngModel' required  type="password" class="form-control"
          aria-describedby="passwordHelpBlock" placeholder="Mot de passe">
          <small *ngIf="form.submitted && confirmationMdp.errors?.required" class="text-danger">
            La confirmation de votre mot de passe est nécessaire.
          </small>
          <small *ngIf="form.submitted && !validPassword" class="text-danger">
            Le mot de passe de confirmation ne coïncide pas avec le premier saisi !
          </small>
      </div>

      <div class="form-group">
        <label for="departement">Choisir un code postale :</label>
        <select id="departement" class="form-control" #codePostal [(ngModel)]="nomDepartements[0]" name="codePostal" (change)="keyupDepartement(codePostal.value)">
          <option *ngFor="let nomDepartement of nomDepartements" [value]="nomDepartement">{{nomDepartement}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="commune">Choisir une commune :</label>
        <select id="commune" class="form-control" #commune [(ngModel)]="nomVilles[0]" name="commune">
          <option *ngFor="let nomVille of nomVilles" [value]="nomVille">{{nomVille}}</option>
        </select>
      </div>

<!--       
  ngModel #commune='ngModel'
  
  <div class="form-group">
        <label for="text"><i class="fa fa-flag"></i> Entrez Code postal</label>
        <input #input name="codePostal" ngModel #codePostal='ngModel' required  type="number" class="form-control" placeholder="Par ex. 69007" list="departements" (change)="keyupDepartement(input.value)">
        <datalist id="departements">
          <option *ngFor="let nomDepartement of nomDepartements" [value]="nomDepartement"></option>
        </datalist>
        <small *ngIf="form.submitted && codePostal.errors?.required" class="text-danger">
          Votre code postal doit être renseigné au format numérique. Par ex. '69007'
        </small>
      </div> -->

<!--       <div class="form-group">
        <label for="villeSelection"> <i class="fa fa-map-marker"></i> Selectionnez une ville </label>
        <ng-select [items]="nomVilles | async"
          bindLabel="name"
          autofocus
          bindValue="lat"
          [(ngModel)]="villeSelectionnee">
        </ng-select>
        <ng-select [(ngModel)]="villeSelectionnee" name="villeSelectionnee">
          <ng-option *ngFor="let ville of nomVilles" [value]="ville">{{ville}}</ng-option>
        </ng-select>
        <small *ngIf="form.submitted && villeSelection.errors?.required" class="text-danger">
          Votre ville doit être renseignée
        </small>
      </div> -->

    </fieldset>

    <button type="submit" class="btn btn-success d-flex col-md-12 mb-1 justify-content-center">Créer mon compte</button>
    <div class="text-center mb-5">
      <button type="button"  routerLink="/utilisateurs/authentification" class="btn btn-success col-md-6 justify-content-center align-item">Se connecter</button>
    </div>

  </form>
</div>

<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>