<div class="container">
    <h1 class="fw-bold"><u>Liste des Rubriques</u></h1>

    <div class="button-container-add">
        <button mat-mini-fab class="btn-add">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-list role="list">
        <mat-list-item class="example-spacer mat-card">
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>

        </mat-list-item>


    </mat-list>

</div>