@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.button-container-add {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.example-spacer {
    flex: 1 1 auto;
  }

