<div class="container">

  <table class="table table-bordered">
    <thead>
      <tr class="bg-info ">
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom d'utilisateur</th>
        <th scope="col">Email</th>
        <th scope="col">Commune</th>
        <th scope="col">Code Postal</th>
        <th scope="col">Suspendu/Actif</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let compteUtilisateur of utilisateurs">
        <th>{{ compteUtilisateur.nom }}</th>
        <th>{{ compteUtilisateur.prenom }}</th>
        <td>{{ compteUtilisateur.nomUtilisateur }}</td>
        <td>{{ compteUtilisateur.email }}</td>
        <td>{{ compteUtilisateur.commune }}</td>
        <td>{{ compteUtilisateur.codePostal }}</td>
        <td class="text-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
              (click)="activation()">
            <label class="form-check-label" for="inlineRadio1">Activer</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
              (click)="ajoutSuspendre()">
            <label class="form-check-label" for="inlineRadio2">Suspendre</label>
          </div>
        </td>
        <td class="text-center">
          <button class="bg-danger btn-outline-danger rounded justify-content-center" (click)="ajoutSupprimer()">
            <i class="fa fa-trash danger text-white"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
