<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Liste utilisateur</title>
</head>

<body>
  <div class="container">

    <table class="table table-bordered">
      <thead>
        <tr class="bg-info ">
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom d'utilisateur</th>
          <th scope="col">Email</th>
          <th scope="col">Ville</th>
          <th scope="col">Code Postal</th>
          <th scope="col">Suspendu/Actif</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>{{ formInscription.nom }}</th>
          <th>{{ formInscription.prenom }}</th>
          <td>{{ formInscription.nomUtilisateur }}</td>
          <td>{{ formInscription.email }}</td>
          <td>{{ formInscription.ville }}</td>
          <td>{{ formInscription.codePostal }}</td>
          <td class="text-center">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                (click)="activation()">
              <label class="form-check-label" for="inlineRadio1">Activer</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                (click)="ajoutSuspendre()">
              <label class="form-check-label" for="inlineRadio2">Suspendre</label>
            </div>
          </td>
          <td class="text-center">
            <button class="bg-danger btn-outline-danger rounded justify-content-center" (click)="ajoutSupprimer()">
              <i class="fa fa-trash danger text-white"></i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>
