<app-barre-recherche [loading]="'false'" (searchChild)="renderSearchParent($event)"></app-barre-recherche>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <table class="table col-10">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let indicateurAir of indicateurAirs">
                    <th scope="row">{{indicateurAir.nom}}</th>
                    <td *ngFor="let valeur of indicateurAir.valeurs">{{valeur}}</td>
                </tr>
                <tr *ngFor="let niveauMeteo of niveauMeteos">
                    <th scope="row">{{niveauMeteo.nom}}</th>
                    <td *ngFor="let valeur of niveauMeteo.valeurs">{{valeur}}</td>
                </tr>
            </tbody>
        </table>
        <div class="col"></div>
    </div>
</div>