<div class="container">

    <app-barre-recherche (searchChild)="renderSearchInsideParent($event)"></app-barre-recherche>


    <div *ngIf="loadingSearch" class="d-flex justify-content-center mt-5">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="cover-bg rounded" *ngIf="indicateurWithUnit && !loadingSearch">

        <div class="row d-flex justify-content-between p-3">

            <div class="col-sm">
                <h1>{{infoRecensement.split('--')[0]}}</h1>
                <p>{{infoRecensement.split('--')[1]}}</p>
            </div>

            <div class="col-sm d-flex justify-content-end align-items-start">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-secondary"
                        [ngClass]="{'btn btn-info': echelleTemps === 'JOURNALIERE'}"
                        (click)="setEchelleTemps('JOURNALIERE')">Journalier</button>
                    <button type="button" class="btn btn-secondary"
                        [ngClass]="{'btn btn-info': echelleTemps === 'HEBDOMADAIRE'}"
                        (click)="setEchelleTemps('HEBDOMADAIRE')">Hebdomadaire</button>
                    <button type="button" class="btn btn-secondary"
                        [ngClass]="{'btn btn-info': echelleTemps === 'MENSUEL'}"
                        (click)="setEchelleTemps('MENSUEL')">Mensuel</button>
                </div>
            </div>

        </div>

        <div class="row d-flex justify-content-center">    
                        <div class="d-flex justify-content-center">
                            <div class="col d-flex flex-column align-items-center">
                                <img [src]="meteoGlobale" alt="sentiment météo globale" width="100px">
                                <h2 class="mb-0">{{temperatureActuelle}}°C</h2>
                            </div>
                            <div class="col d-flex flex-column align-items-center">
                                <img [src]="indicateurGlobale" alt="sentiment polluant global" width="100px">
                                <h2 class="mb-0">{{evolutionPolluant}}%</h2>
                            </div>
                        </div>
        </div>
            <div class="row d-flex justify-content-between">

            <div class="col-sm m-3">
                <p class="mb-1">{{infoGPS}}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="item-table-header"></th>
                            <th scope="col" class="item-table-header" *ngFor="let elt of enteteColonne">{{elt}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let indicateurAir of indicateurWithUnit">
                            <th scope="row">{{indicateurAir.nom}}</th>
                            <td *ngFor="let valeur of indicateurAir.valeurs">{{valeur}}</td>
                        </tr>
                        <tr *ngFor="let niveauMeteo of meteoWithUnit">
                            <th scope="row">{{niveauMeteo.nom}}</th>
                            <td *ngFor="let valeur of niveauMeteo.valeurs">{{valeur}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>



</div>