<footer class="page-footer bg-dark text-white">
    <div class="bg-primary w-100">
        <div class="container">
            <div class="row py-1 d-flex align-items-center">

                <div class="col-md-12 text-center">
                    <p class="m-0"> Udara 2021 - v 1.0 </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container w-100 text-center text-md-left mt-3">
        <div class="row">

            <div class="col-md-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Udara project</h6>
                <hr class="bg-primary mb-2 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
                <p class="mt-2">gbf dsqkbjxdk fnhklb dsnvj sv hfbsvhsdbv jks bjvh svhfs ncj qsnlvjds  hvj dsvn</p>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Equipe de développement</h6>
                <hr class="bg-primary mb-2 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">

                <ul class="list-unstyled m-0">
                    <li><a>Nicolas</a></li>
                    <li><a>Valentin</a></li>
                    <li><a>Manon</a></li>
                    <li><a>Etienne</a></li>
                </ul>
            </div>

            <div class="col-md-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
                <hr class="bg-primary mb-2 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">

                <ul class="list-unstyled">
                    <li class="mt-2"><a routerLink="accueil">Accueil</a></li>
                    <li class="mt-2"><a href="https://api.openweathermap.org/data/2.5/">API OpenWeatherMap</a></li>
                    <li class="mt-2"><a>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-1">
        <p>&copy; Copyright - UDARA - Diginamic
        </p>
    </div>
</footer>