<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container-fluid d-flex">
        <ul class="container-fluid d-flex list-unstyled my-0">
            <li>
                <a id="logo_et_titre" [routerLink]="['/accueil']">
                    <img id="logo" [src]="logo_path" alt="Logo Udara" title="UDARA" />
                </a>
            </li>
            <li>
                <p>Infos météos et qualité de l'air</p>
            </li>
            <li *ngIf="utilisateur?.role == 'ROLE_ADMINISTRATEUR'">
                <button class="btn alert-secondary" [routerLink]="['/formNotif']" (click)="openModal()">Créer une notification</button>
            </li>
            <li *ngIf="utilisateur?.statutActif == null">
                <button class="btn alert-secondary" [routerLink]="['/utilisateurs/inscriptionUtilisateur']">Inscription</button>
            </li>
            <li *ngIf="utilisateur?.statutActif == null">
                <button class="btn alert-secondary" [routerLink]="['/utilisateurs/authentification']">Connexion</button>
            </li>
            <!-- <li class="m-0">
                <a style="font-size:1.5em">
                    <i class="fa fa-bell"></i>
                </a>
            </li> -->

             <!-- Nav Item - Alerts -->
             <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle text-white" href="#" id="alertsDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:1.5em">
                    <i class="fa fa-bell fa-fw text-warning"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">2+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="alertsDropdown">
                    <h3 class="dropdown-header text-warning justify-content-center d-flex">
                        Notifications
                    </h3>
                    <a  *ngFor="let notif of notifs" class="dropdown-item align-items-center p-0" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div class="w-100">
                            <p class="small text-gray-500 ml-3"><small>{{ notif.heure }}</small></p>
                            <h4 class="ml-3"> {{ notif.texte}} </h4>
                            <hr class="w-100">
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500 text-info" href="#">Voir toutes les notifications</a>
                </div>
            </li>
            <li *ngIf="utilisateur?.statutActif == 1">
                <div class="d-flex-column m-0">
                    <h4 class="m-0">{{utilisateur.nom}} {{ utilisateur.prenom}} </h4>
                    <a class="m-0" (click)="logout()">Déconnexion</a>
                </div>
            </li>
            <li class="m-0" *ngIf="utilisateur?.statutActif == 1" [routerLink]="['/utilisateurs/editionUtilisateur']" >
                <a style="font-size:2.4em">
                    <i class="fa fa-user-circle"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>