<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open
  modal for @mdo</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open
  modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
  data-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Enregistrer un favori</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)='saveFavori(form)' #form=ngForm>

          <div class="form-group">
            <label for="nom" class="col-form-label">Saisir un intitulé :</label>
            <input  id="nom" [(ngModel)]="favori.nom" name="nom" type="text" class="form-control" placeholder="Ex.: montpellier.meteo.journalier">
          </div>

          <div class="form-group">
            <label for="commune">Choisir une commune :</label>
            <select id="commune" class="form-control">
              <option *ngFor="let nomCommune of nomCommunes" [value]="nomCommune">{{nomCommune}}</option>
            </select>
          </div>



          <div class="form-group">
            <label for="message-text" class="col-form-label">Echelle de temps :</label>
            <div class="d-flex">
              <div class="btn-group btn-group btn-group-sm d-flex flex-fill" role="group">
                <button type="button" class="btn btn-secondary flex-fill"
                  [ngClass]="{'btn btn-info': favori.echelleTemps === 'JOURNALIERE'}"
                  (click)="setEchelleTemps('JOURNALIERE')">Journalier</button>
                <button type="button" class="btn btn-secondary flex-fill"
                  [ngClass]="{'btn btn-info': favori.echelleTemps === 'HEBDOMADAIRE'}"
                  (click)="setEchelleTemps('HEBDOMADAIRE')">Hebdomadaire</button>
                <button type="button" class="btn btn-secondary flex-fill"
                  [ngClass]="{'btn btn-info': favori.echelleTemps === 'MENSUEL'}"
                  (click)="setEchelleTemps('MENSUEL')">Mensuel</button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Polluant :</label>
            <div class="d-flex justify-content-start">

              <div class="form-check form-check-inline" *ngFor="let indicateur of tousLesIndicateurs;index as i">
                <input class="form-check-input" type="checkbox" [(ngModel)]="indicateurBoolean[i]" name="indicateurBoolean" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="gridCheck">{{indicateur}}</label>

<!--                 [(ngModel)]="favori.indicateurAir[i]===indicateur" [value]="indicateur"
 -->              </div>
            </div>
          </div>



          

          <div class="form-group">
            <label for="message-text" class="col-form-label">Météo :</label>
            <div class="d-flex justify-content-start">
              <div class="form-check form-check-inline" *ngFor="let niveau of touslesNiveaux;index as i">
                <input class="form-check-input" type="checkbox" [(ngModel)]="niveauBoolean[i]" name="indicateurBoolean" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="inlineCheckbox1">{{niveau}}</label>
              </div>

            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" routerLink="/accueil" data-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-success">Valider</button>
      </div>
    </div>
  </div>
</div>




<!--       <div class="form-group col-md-6">
        <label for="inputNatID"> Choisir des indicateurs météorologiques </label>
        <input name='indicateursMeteo' ngModel #indicateursMeteo='ngModel' required type="number" class="form-control"
          [ngClass]="{'is-invalid': form.submitted && indicateursMeteo.errors?.required}">
        <small *ngIf="form.submitted && indicateursMeteo.errors?.required" class="text-danger">
          Sélectionner un ou plusieurs indicateurs
        </small>
      </div> -->


