<!DOCTYPE html>
 <html>
    <head>
        <title>Page de connexion</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     </head>
     <body>
         <div class="">
            <h1 class="d-flex justify-content-center">Connectez-vous</h1>
            <div class="container d-flex justify-content-center">
                <form class="col-md-6" (ngSubmit)='login(form)' #form="ngForm">
                  <fieldset>
                    
                    <div class="form-group">
                      <label for="password"><i class="fa fa-envelope"></i> Identifiant</label>
                      <input [(ngModel)]="email" type="email" class="form-control" name="email" placeholder="Email ou nom d utilisateur">
                    </div>
   
                    <div class="form-group">
                       <label for="email"><i class="fa fa-lock"></i> Saisissez votre mot de passe</label>
                       <input type="password" name="mot de passe" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Mot de passe">
                     </div>
                  </fieldset>
            
               
                   <div class="d-flex justify-content-between">
                       <button type="submit" class="btn btn-success d-flex col-md-6 mb-1 justify-content-center">Se connecter
                       </button>
                      <a href="" class="text-dark text-right"><u>Mot de passe oublié ?</u></a>
                  </div>
                  <a href="" class=" d-flex justify-content-center m-2" [routerLink]="['/utilisateurs/inscriptionUtilisateur']">Inscription</a>
                </form>
            </div>
         </div>
    </body>
</html>