<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)='close()'>
                <span aria-hidden="true">&times;</span>
              </button>
        </div>

        <div class="modal-body">
            <h3 class="d-flex justify-content-center">Suspendre l'utilisateur ?</h3>
            <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-secondary" (click)='close()'>Annuler</button>
                <button type="button" class="btn btn-warning">Suspendre</button>
            </div>
        </div>

        <div class="modal-footer">

        </div>
    </div>
</body>
</html>

